<div class="container">
  <app-cockpit (serverCreated)="onAddedServer($event)" (bluePrintCreated)="onAddedBluePrint($event)">
  </app-cockpit>
  <div class="row">
    <div class="col-xs-12">

      <!--parent component iterating over data and passing it to the child component for rendering.-->
      <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement">

      </app-server-element>

    </div>
  </div>
</div>

<!--
  After the cockpit component is displayed, this line
  <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement">
  refers that Server Element component is a child component that is being repeated using the *ngFor directive.
  Within the app-server-element component, it expects an input property called 'serverElements' ,array in the parent
  component (AppComponent), and creates an instance of the app-server element component for each element in the array.  


  serverCreated is a custom event,
  so once custom events occur on cockpit component,
-->