<div class="container">
  <app-cockpit (serverCreated)="onAddedServer($event)" (bluePrintCreated)="onAddedBluePrint($event)">
  </app-cockpit>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <button style="margin-right: 10px" class="btn btn-primary" (click)="onChangeFirst() ">Change First
        Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first component</button>
      <hr>

      <!--parent component iterating over data and passing it to the child component for rendering.-->
      <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement">

        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>

      </app-server-element>

    </div>
  </div>
</div>

<!--
  After the cockpit component is displayed, this line
  <app-server-element *ngFor="let serverElement of serverElements" [serverElement]="serverElement">
  refers that Server Element component is a child component that is being repeated using the *ngFor directive.
  Within the app-server-element component, it expects an input property called 'serverElements' ,array in the parent
  component (AppComponent), and creates an instance of the app-server element component for each element in the array.  


  serverCreated is a custom event,
  so once custom events occur on cockpit component,

  Custom Property and Event Binding summary:
  @Input : way for a parent component to send information to its child component. It's like passing a message or value from
           a parent to its child. (One way flow of info from parent to child)

  @Output: way for a child component to send a message or notify its parent component about something that happend so that parent 
           component can react accordingly         
-->